@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: #fff;
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  
  --color-bg: #040C18;
  --color-footer : #031B34;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #FF8A71;

  --big-font-size: 4rem;
  --h2-font-size: 1.75rem;
  --h3-font-size: 1.5rem;
  --h4-font-size: 1.25rem;
  --normal-font-size: 1rem;

  --primary-color: hsla(203, 89%, 53%, 1);
  --primary-color-alt: hsla(203, 96%, 46%, 1);
  --primary-color-light: hsla(203, 79%, 78%, 1);
  --title-color: hsla(203, 10%, 10%, 1);
  --text-color: hsla(203, 33%, 33%, 1);
  --footer-color: hsla(203, 78%, 77%, 1);
  --btn-color-alt: hsla(338, 89%, 53%, 1);
  --card-color: hsla(0, 0%, 100%, 0.7);
}


@media screen and (max-width: 768px) {
	:root {
	  --big-font-size: 2rem;
	  --h2-font-size: 1.65rem;
	  --h3-font-size: 1.25rem;
	  --h4-font-size: 1.25rem;
	  --normal-font-size: 1rem;
	}
  }

  
  /* detail post style */
  .hero__detail {
	background-size: cover;
	background-repeat: no-repeat;
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 4rem;
  }
  
  .hero__title {
	font-size: var(--big-font-size);
  }
  
  .detail__post {
	margin-top: 6rem;
	display: grid;
	grid-template-columns: 1fr 0.35fr;
	gap: 4rem;
  }
  
  .detail__post-profile {
	display: flex;
	align-items: center;
	gap: 0.75rem;
	flex-wrap: wrap;
  }
  
  .detail__post-img {
	width: 80px;
	border-radius: 100%;
	object-fit: cover;
  }
  
  .detail__post-title {
	font-size: 1.25rem;
	color: var(--title-color);
  }
  
  .detail__post-date {
	font-size: 0.75rem;
  }
  
  .detail__post-update i {
	font-size: 1.5rem;
	cursor: pointer;
  }
  .detail__post-update .btn-edit {
	color: var(--primary-color);
  }
  .detail__post-update .btn-trash {
	color: var(--btn-color-alt);
  }
  
  .detail__post-social {
	margin-left: auto;
	display: flex;
	column-gap: 1.25rem;
	color: var(--text-color);
  }
  
  .detail__post-social i {
	font-size: 1.5rem;
	cursor: pointer;
  }
  
  .detail__post-content {
	margin-top: 2rem;
	color: var(--text-color);
	text-align: justify;
  }
  
  .detail__post-paragraph {
	margin-bottom: 1rem;
  }
  
  .detail__post-recomend-content {
	margin-bottom: 2rem;
  }
  
  .detail__post-recomend-title {
	font-size: var(--h2-font-size);
	margin-bottom: 2rem;
  }
  /* */

body {
  background-color: #FFFBE7;
}